body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: var(--bg-black01);
  color: var(--white);
  /* background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain; */
}

/* Cursor */
/* #cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  pointer-events: none;
}

#cursor > div {
  border: 3px solid var(--test-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: scale(0.15);
  background: var(--white);
} */

/* HEADER */

header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 9999;
}

.gnb {
  width: 1840px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SIDE BAR */
.sidebar {
  width: 1920px;
  height: 100vh;
  background: var(--bg-black01);
  margin: auto;
  position: fixed;
  left: 50%;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  overflow: hidden;
  display: none;
  transform: translateX(-50%);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  text-align: center;
}

.sidebar a {
  font-family: "Druk Wide Trial", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 2rem;
}

/* FRAME */
.frame {
  width: 100%;
  height: auto;
  margin: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 100px;
  margin: 0 auto;
  z-index: 9997;
}

.frame img {
  width: 1840px;
}

/* Section01 : Intro-Video */

.section01 {
  width: 1920px;
  height: 1080px;
  position: relative;
  margin: auto;
  /* background: var(--test-color); */
}

.section01_container {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
}

.section01 video {
  width: 100%;
}

.section01 .intro-logo {
  position: absolute;
  left: 900px;
  top: 901px;
  opacity: 0;
  mix-blend-mode: difference;
  animation: appear-arrow 2s ease forwards;
}

.section01 .down-arrow {
  position: absolute;
  left: 950px;
  top: 957px;
  opacity: 0;
  mix-blend-mode: difference;
  animation: appear-arrow 2s ease forwards 3;
}

/* Section02 : Brand-Main */

.section02 {
  width: 1920px;
  height: 1020px;
  position: relative;
  margin: auto;
  background: var(--bg-black01);
}

.section02_container {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
}

.section02 .surfing {
  position: absolute;
  left: 472px;
  top: 92px;
}

.section02 .does {
  position: absolute;
  left: 276px;
  top: 473px;
}

.section02 .only {
  position: absolute;
  left: 638px;
  top: 473px;
}

.section02 .video-wrapper {
  width: 723px;
  height: 545px;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
  left: 947px;
  top: 184px;
}

.section02 .video-wrapper video {
  width: 100%;
  border-radius: 1.25rem;
  mix-blend-mode: lighten;
}

#s2-gopro {
  position: absolute;
  left: 355px;
  top: 565px;
  animation: filled 0.8s ease forwards 1.2s;
}

#s2-gopro path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
}

.section02 .years {
  position: absolute;
  left: 365px;
  top: 719px;
}

.section02 .cando {
  position: absolute;
  left: 764px;
  top: 691px;
}

/* Section03 : Brand-Detail */

.section03 {
  width: 1920px;
  height: 1940px;
  margin: auto;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--test-color); */
}

.section03_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section03 .turned-line img {
  position: absolute;
  left: 1172px;
  top: 316px;
  animation: rotate-left 2.6s infinite cubic-bezier(0.3, 0.7, 0.5, 0.3);
  transform-origin: 50% 50%;
}

.section03 .sharing {
  position: absolute;
  left: 326px;
  top: 277px;
}

/* .section03 .exper {
  position: absolute;
  left: 193px;
  top: 390px;
} */

#s3-exper {
  position: absolute;
  left: 193px;
  top: 390px;
  /* animation: filled 0.8s ease forwards 1.2s; */
}

/* #s3-exper path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
} */

.section03 .world {
  position: absolute;
  left: 353px;
  top: 518px;
}

.section03 .here {
  position: absolute;
  left: 329px;
  top: 633px;
}

.section03 .you {
  position: absolute;
  left: 1128px;
  top: 196px;
}

.section03 .around {
  position: absolute;
  left: 171px;
  top: 544px;
}

/* Below Contents */

.section03 .founded {
  position: absolute;
  left: 448px;
  top: 1094px;
}

.section03 .we {
  position: absolute;
  left: 1128px;
  top: 1560px;
}

.section03 .force {
  position: absolute;
  left: 764px;
  top: 1320px;
}

/* .section03 .posit {
  position: absolute;
  left: 654px;
  top: 1409px;
} */

#s3-posit {
  position: absolute;
  left: 654px;
  top: 1409px;
  animation: filled 0.8s ease forwards 1.2s;
}

#s3-posit path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
}

.section03 .for {
  position: absolute;
  left: 1025px;
  top: 1537px;
}

/* Section04 : Cam-Intro-Video */
.section04 {
  width: 1920px;
  height: 1080px;
  margin: auto;
  /* background: var(--test-color); */
}

.section04_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section04 video {
  width: 100%;
}

/* Section05 : Cam-Main */
.section05 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section05_container {
  width: 100%;
  height: 1020px;
  position: relative;
  /* overflow: hidden;*/
}

.section05 .photo01 {
  position: absolute;
  left: 240px;
  top: 135px;
}

.section05 .photo02 {
  position: absolute;
  left: 761px;
  top: 203px;
  animation: float-obj 1s infinite alternate;
}

.section05 .black {
  position: absolute;
  left: 1251px;
  top: 561px;
}

.section05 .hero {
  position: absolute;
  left: 952px;
  top: 627px;
}

.section05 .offi {
  position: absolute;
  left: 1128px;
  top: 714px;
}

.section05 .of {
  position: absolute;
  left: 1535px;
  top: 754px;
}

.section05 .fun {
  position: absolute;
  left: 1600px;
  top: 711px;
}

/* Section06 : Cam-Detail-01 : 5.3K */

.section06 {
  width: 1920px;
  height: 1080px;
  margin: auto;
  /* background: var(--test-color); */
}

.section06_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section06 .video-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

.section06 .video-wrapper video {
  width: 100%;
}

.section06 .five-stroke {
  position: absolute;
  left: 471px;
  top: 333px;
}

.section06 .jaw {
  position: absolute;
  left: 574px;
  top: 614px;
}

.section06 .video {
  position: absolute;
  left: 1072px;
  top: 526px;
}

/* Section06-1 : Cam-Detail-01 (Horizon START) */

.section06-1 {
  width: 1920px;
  height: 1080px;
  margin: auto;
  /* background: var(--test-color); */
}

.section06-1_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section06-1 .video-wrapper {
  width: 1298px;
  height: 730px;
  overflow: hidden;
  position: absolute;
  left: 311px;
  top: 111px;
}

.section06-1 .video-wrapper video {
  width: 100%;
}

.section06-1 .five {
  position: absolute;
  left: 764px;
  top: 737px;
}

.section06-1 .jaw {
  position: absolute;
  left: 804px;
  top: 847px;
}

.section06-1 .video {
  position: absolute;
  left: 1003px;
  top: 812px;
}

/* Section06-2 : Cam-Detail-01 : Slo-Proof (Horizon) */
.section06-2 {
  width: 1920px;
  height: 1080px;
  margin: auto;
  /* background: var(--test-color); */
}

.section06-2_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section06-2 .video-wrapper {
  width: 462px;
  height: 371px;
  overflow: hidden;
  position: absolute;
  left: 210px;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section06-2 .video-wrapper video {
  width: 104%;
}

.section06-2 .eight {
  position: absolute;
  left: 598px;
  top: 451px;
}

.section06-2 .slo {
  position: absolute;
  left: 493px;
  top: 527px;
}

.section06-2 .up {
  position: absolute;
  left: 503px;
  top: 480px;
}

.section06-2 .img01 {
  position: absolute;
  left: 896px;
  top: 318px;
}

.section06-2 .dura {
  position: absolute;
  left: 668px;
  top: 526px;
}

.section06-2 .water {
  position: absolute;
  left: 820px;
  top: 582px;
}

.section06-2 .ultra {
  position: absolute;
  left: 625px;
  top: 750px;
}

.section06-2 .feet {
  position: absolute;
  left: 1617px;
  top: 281px;
}

/* Section06-3 : Cam-Detail-01 : Emmy-Winning (Horizon END) */

.section06-3 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section06-3_container {
  width: 100%;
  height: 1020px;
  position: relative;
  /* overflow: hidden; */
}

.section06-3 .bg {
  position: absolute;
  right: 0px;
  top: 155px;
}

.section06-3 .video-wrapper {
  width: 982px;
  height: 524px;
  overflow: hidden;
  position: absolute;
  left: 179px;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section06-3 .video-wrapper video {
  width: 100%;
}

.section06-3 .video-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section06-3 .emmy {
  position: absolute;
  left: 1051px;
  top: 416px;
}

.section06-3 .stab {
  position: absolute;
  left: 1055px;
  top: 481px;
}

.section06-3 .hyper {
  position: absolute;
  left: 1484px;
  top: 556px;
}

/* Section07 : Cam-Detail-02 : LargerSensor */
.section07 {
  width: 1920px;
  height: 2750px;
  margin: auto;
  /* background: var(--test-color); */
}

.section07_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section07 .bg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 26px;
}

.section07 .larger {
  position: absolute;
  left: 593px;
  top: 188px;
}

.section07 .sensor {
  position: absolute;
  left: 677px;
  top: 266px;
}

.section07 .field {
  position: absolute;
  left: 646px;
  top: 572px;
}

.section07 .the {
  position: absolute;
  left: 582px;
  top: 746px;
}

.section07 .shoot {
  position: absolute;
  left: 522px;
  top: 963px;
}

.section07 .with {
  position: absolute;
  left: 520px;
  top: 1137px;
}

.section07 .ultra {
  position: absolute;
  left: 635px;
  top: 1490px;
}

.section07 .hyper {
  position: absolute;
  left: 633px;
  top: 1663px;
}

.section07 .lets {
  position: absolute;
  left: 525px;
  top: 2003px;
}

.section07 .do {
  position: absolute;
  left: 781px;
  top: 2087px;
}

.section07 .video-wrapper {
  width: 564px;
  height: 397px;
  /* overflow: hidden; */
  border-radius: 1rem;
  position: absolute;
  left: 678px;
  top: 326px;
}

.section07 .video-wrapper video {
  width: 100%;
  border-radius: 7rem;
  mix-blend-mode: lighten;
}

/* Section08 : Cam-Detail-03 : ProLevel */
.section08 {
  width: 1920px;
  height: 1940px;
  margin: auto;
  overflow: hidden;
  /* background: var(--test-color); */
}

.section08_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section08 .bg01 {
  width: 1400px;
  height: 841px;
  position: absolute;
  left: 585px;
  top: -52px;
}

.section08 .bg02 {
  width: 1604px;
  height: 835px;
  position: absolute;
  left: 190px;
  top: 650px;
}

.section08 .title span {
  font-family: "Druk Wide Trial", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

.section08 .pro {
  font-size: 8rem;
  position: absolute;
  left: 193px;
  top: 257px;
}

.section08 .level {
  font-size: 8rem;
  position: absolute;
  left: 190px;
  top: 406px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 2px var(--white);
}

.section08 .img01 {
  width: 445px;
  height: 228px;
  overflow: hidden;
  position: absolute;
  left: 1125px;
  top: 301px;
}

.section08 .img01 img {
  width: 100%;
}

.section08 .title .text-group {
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.section08 .stun {
  position: absolute;
  left: 1124px;
  top: 536px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

.section08 .twmp {
  position: absolute;
  left: 1125px;
  top: 569px;
}

.section08 .grab {
  position: absolute;
  left: 1125px;
  top: 601px;
}

.section08 .new {
  position: absolute;
  left: 192px;
  top: 793px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

.section08 .time {
  position: absolute;
  left: 195px;
  top: 826px;
}

.section08 .img02 {
  width: 910px;
  height: 484px;
  overflow: hidden;
  position: absolute;
  left: 815px;
  top: 1336px;
}

.section08 .img02 img {
  width: 130%;
}

.section08 .video-wrapper {
  width: 445px;
  height: 335px;
  overflow: hidden;
  position: absolute;
  left: 193px;
  top: 864px;
}

.section08 .video-wrapper video {
  width: 100%;
}

.section08 .bit {
  position: absolute;
  left: 355px;
  top: 1589px;
  font-family: "Druk Wide Trial", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-style: italic;
  text-wrap: nowrap;
}

.section08 .blue {
  position: absolute;
  left: 0px;
  top: 1702px;
  font-family: "Druk Wide Trial", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-style: italic;
  text-wrap: nowrap;
}

.section08 .img02 {
  position: absolute;
  left: 815px;
  top: 1336px;
}

.section08 .bit-stroke {
  position: absolute;
  left: 355px;
  top: 1589px;
  font-family: "Druk Wide Trial", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-style: italic;
  text-wrap: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px var(--white);
}

.section08 .blue-stroke {
  position: absolute;
  left: 0px;
  top: 1702px;
  font-family: "Druk Wide Trial", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-style: italic;
  text-wrap: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px var(--white);
}

/* Section09 : Cam-Detail-04 : NailShot */
.section09 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section09_container {
  width: 100%;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.section09 .bg {
  position: absolute;
  left: 85px;
  top: 115px;
}

.section09 .nail {
  position: absolute;
  left: 1127px;
  top: 700px;
}

.section09 .with {
  position: absolute;
  left: 1123px;
  top: 770px;
}

.section09 .hind {
  position: absolute;
  left: 1126px;
  top: 858px;
}

.section09 .img01 {
  position: absolute;
  left: 1350px;
  top: 245px;
}

.section09 .imgs img {
  width: 80%;
}

.section09 .img02 {
  position: absolute;
  left: 940px;
  top: 515px;
}

.section09 .img03 {
  position: absolute;
  left: 307px;
  top: 138px;
}

.section09 .img04 {
  position: absolute;
  left: 639px;
  top: 721px;
}

/* Section10 : Cam-Detail-05 : NightEffects */
.section10 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  background: var(--bg-black02);
}

.section10_container {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
}

.section10 .night {
  position: absolute;
  left: 330px;
  top: 348px;
}

.section10 .video-wrapper01 {
  width: 140px;
  height: 80px;
  overflow: hidden;
  border-radius: 0.625rem;
  position: absolute;
  left: 785px;
  top: 345px;
}

.section10 .video-wrapper01 video {
  width: 100%;
}

.section10 .push {
  position: absolute;
  left: 323px;
  top: 485px;
}

.section10 .button {
  position: absolute;
  left: 323px;
  top: 616px;
}

.section10 .video-wrapper02 {
  width: 140px;
  height: 80px;
  overflow: hidden;
  border-radius: 0.625rem;
  position: absolute;
  left: 1225px;
  top: 488px;
}

.section10 .video-wrapper02 video {
  width: 100%;
}

.section10 .star {
  position: absolute;
  left: 1210px;
  top: 617px;
}

.section10 .video-wrapper03 {
  width: 140px;
  height: 80px;
  overflow: hidden;
  border-radius: 0.625rem;
  position: absolute;
  left: 447px;
  top: 617px;
}

.section10 .video-wrapper03 video {
  width: 100%;
}

/* Section11 : Lens-Intro-Video */

.section11 {
  width: 1920px;
  height: 1080px;
  margin: auto;
  /* background: var(--test-color); */
}

.section11_container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.section11 video {
  width: 100%;
}

/* Section12 : Lens-Main */
.section12 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--test-color); */
}

.section12_container {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
}

.section12 .img01 {
  position: absolute;
  left: 1152px;
  top: 257px;
}

.section12 .img02 {
  position: absolute;
  left: 316px;
  top: 649px;
}

.section12 .upgrade {
  position: absolute;
  left: 477px;
  top: 442px;
}

.section12 .for {
  position: absolute;
  left: 649px;
  top: 405px;
}

.section12 .max {
  position: absolute;
  left: 334px;
  top: 526px;
}

.section12 .mod {
  position: absolute;
  left: 462px;
  top: 626px;
}

.section12 .pov {
  position: absolute;
  left: 690px;
  top: 431px;
}

/* Section13 : Lens-Detail-01 : Wide4K */
.section13 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section13_container {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
}

.section13 .img01 {
  position: absolute;
  left: 435px;
  top: 300px;
}

.section13 .wide {
  position: absolute;
  left: 1349px;
  top: 424px;
}

.section13 .ang {
  position: absolute;
  left: 1127px;
  top: 487px;
}

.section13 .ultra {
  position: absolute;
  left: 1244px;
  top: 412px;
}

.section13 .four {
  position: absolute;
  left: 1469px;
  top: 542px;
}

.section13 .in {
  position: absolute;
  left: 1437px;
  top: 543px;
}

/* Section14 : Lens-Detail-02 : Wide4K 마지막 (Horizon START) */
.section14 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--test-color); */
}

.section14_container {
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
}

.section14 .img03 {
  position: absolute;
  left: 80px;
  top: 141px;
}

.section14 .wide {
  position: absolute;
  left: 1482px;
  top: 424px;
}

.section14 .ang {
  position: absolute;
  left: 1260px;
  top: 487px;
}

.section14 .ultra {
  position: absolute;
  left: 1377px;
  top: 412px;
}

.section14 .four {
  position: absolute;
  left: 1602px;
  top: 542px;
}

.section14 .in {
  position: absolute;
  left: 1570px;
  top: 543px;
}

/* Section15 : Lens-Detail-03 : Vertical (Horizon) */
.section15 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--test-color); */
}

.section15_container {
  width: 100%;
  height: 1020px;
  position: relative;
  /* overflow: hidden; */
}

/* S15-1 : Vertical Capture */

.section15 .video-wrapper01 {
  width: 500px;
  height: 355px;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
  left: 331px;
  top: 226px;
}

.section15 .video-wrapper01 video {
  width: 100%;
  /* mix-blend-mode: lighten; */
}

.section15 .vertical {
  position: absolute;
  left: 214px;
  top: 205px;
}

.section15 .capture {
  position: absolute;
  left: 267px;
  top: 157px;
}

.section15 .for {
  position: absolute;
  left: 271px;
  top: 596px;
}

.section15 .social {
  position: absolute;
  left: 300px;
  top: 561px;
}

/* S15-2 HorizonLock */
.section15 .video-wrapper02 {
  width: 441px;
  height: 332px;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
  left: 1297px;
  top: 570px;
}

.section15 .video-wrapper02 video {
  width: 100%;
  /* mix-blend-mode: lighten; */
}

.section15 .unb {
  position: absolute;
  left: 963px;
  top: 165px;
}

.section15 .stab {
  position: absolute;
  left: 1109px;
  top: 339px;
}

.section15 .truly {
  position: absolute;
  left: 926px;
  top: 533px;
}

.section15 .horizon {
  position: absolute;
  left: 1020px;
  top: 846px;
}

.section15 .lock {
  position: absolute;
  left: 1021px;
  top: 879px;
}

/* S15-3 TimeWarp */

.section15 .video-wrapper03 {
  width: 441px;
  height: 332px;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
  left: 2000px;
  top: 238px;
}

.section15 .video-wrapper03 video {
  width: 100%;
  /* mix-blend-mode: lighten; */
}

.section15 .warp {
  position: absolute;
  left: 2000px;
  top: 590px;
}

.section15 .photo {
  position: absolute;
  left: 2000px;
  top: 630px;
}

/* Section15-1 : Lens-Detail-03 : Vertical (Horizon END) */
.section15 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section15_container {
  width: 100%;
  height: 1020px;
  position: relative;
  /* overflow: hidden; */
}

/* Section16 : Lens-Detail-03 : Vertical (Horizon END) */
.section16 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--test-color); */
}

.section16_container {
  width: 100%;
  height: 1020px;
  position: absolute;
  /* overflow: hidden; */
}

.section16 .video-wrapper {
  width: 1500px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  left: 210px;
  top: 126px;
}

.section16 .video-wrapper video {
  width: 100%;
  /* mix-blend-mode: lighten; */
}

.section16 .k601 {
  position: absolute;
  left: 657px;
  top: 312px;
}

.section16 .k601-stroke {
  position: absolute;
  left: 654px;
  top: 383px;
}

.section16 .k602 {
  position: absolute;
  left: 657px;
  top: 457px;
}

.section16 .k602-stroke {
  position: absolute;
  left: 654px;
  top: 527px;
}

.section16 .k603 {
  position: absolute;
  left: 657px;
  top: 602px;
}

.section16 .k603-stroke {
  position: absolute;
  left: 654px;
  top: 672px;
}

/* Section17 : Lens-Detail-04 : Smaller */

.section17 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section17_container {
  width: 100%;
  height: 1020px;
  position: absolute;
  overflow: hidden;
}

.section17 .video-wrapper {
  width: 802px;
  height: 604px;
  overflow: hidden;
  position: absolute;
  left: 957px;
  top: 198px;
}

.section17 .video-wrapper video {
  width: 100%;
  border-radius: 1.5rem;
  mix-blend-mode: lighten;
}

.section17 .smaller {
  position: absolute;
  left: 250px;
  top: 305px;
}

#smaller {
  position: absolute;
  left: 0px;
  top: 0px;
  animation: filled 0.8s ease forwards 1.2s;
}

#smaller path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
}

.section17 .lighter {
  position: absolute;
  left: 249px;
  top: 481px;
}

#lighter {
  position: absolute;
  left: 0px;
  top: 0px;
  animation: filled 0.8s ease forwards 1.2s;
}

#lighter path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
}

.section17 .tougher {
  position: absolute;
  left: 255px;
  top: 657px;
}

#tougher {
  position: absolute;
  left: 0px;
  top: 0px;
  animation: filled 0.8s ease forwards 1.2s;
}

#tougher path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards;
}

/* Section18 : Lens-Outro */
.section18 {
  width: 1920px;
  height: 1020px;
  margin: auto;
  /* background: var(--test-color); */
}

.section18_container {
  width: 100%;
  height: 1020px;
  position: relative;
  /* overflow: hidden; */
}
/* -------------- GSAP CODE START -------------- */
/* #s18-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

/* #content {
  overflow: visible;
  width: 100%;
}

.section18 .text {
  position: fixed;
  top: 50vh;
  font-family: "Druk Wide Trial", sans-serif;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
  z-index: -2;
}

.section18 .outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
  z-index: 2;
}

.section18 .filter-text {
  mix-blend-mode: screen;
  color: #804691;
  z-index: 2;
}

#s18-wrapper .images {
  padding-top: 60vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 150vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 2%);
  grid-template-rows: repeat(30, 3%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
}

.content__slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:nth-child(1) {
  grid-area: 1/1/6/8;
}

img:nth-child(2) {
  grid-area: 3/12/8/20;
}

img:nth-child(3) {
  grid-area: 9/5/13/15;
}

img:nth-child(4) {
  grid-area: 14/1/18/8;
}

img:nth-child(5) {
  grid-area: 16/12/20/19;
}

img:nth-child(6) {
  grid-area: 20/2/25/9;
}

img:nth-child(7) {
  grid-area: 22/11/24/20;
}

img:nth-child(8) {
  grid-area: 26/5/30/15;
}

/* -------------- GSAP CODE END -------------- */

.section18 .img01 {
  position: absolute;
  left: 828px;
  top: -42px;
}

.section18 .img02 {
  position: absolute;
  left: 1088px;
  top: 157px;
}

.section18 .img03 {
  position: absolute;
  left: 537px;
  top: 164px;
}

.section18 .img04 {
  position: absolute;
  left: 794px;
  top: 377px;
}

.section18 .img05 {
  position: absolute;
  left: 1232px;
  top: 624px;
}

.section18 .img06 {
  position: absolute;
  left: 1088px;
  top: 706px;
}

.section18 .img07 {
  position: absolute;
  left: 576px;
  top: 877px;
}

.section18 .img08 {
  position: absolute;
  left: 499px;
  top: 702px;
}

.section18 .get {
  position: absolute;
  left: 443px;
  top: 457px;
}

.section18 .shots {
  position: absolute;
  left: 1262px;
  top: 418px;
}

.section18 .you {
  position: absolute;
  left: 521px;
  top: 544px;
}

.section18 .always {
  position: absolute;
  left: 694px;
  top: 492px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0.5rem;
  background: transparent;
  z-index: 9998;
}

.footer {
  width: 1840px;
  height: 80px;
  margin: 0 auto;
  border-top: 1px solid #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-black01);
}

.footer .sns {
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.footer .sns li img {
  width: 90%;
}

.footer .sns li i {
  font-size: 1.25rem;
}

/* ------- 혜민님 가로스크롤 ----------- */
/* 가로스크롤 */
/* .horizontal-scroll {
  overflow: hidden;
  width: 100%; 수정: 가로 크기를 100%로 변경 */
/* position: relative;
  margin: 0 auto;
}

.horizontal {
  width: fit-content;
  display: flex;
  width: 6000px; */
/* width: 6000px;
  display: flex;
  flex-wrap: nowrap;
  width: max-content; /* 수정: 가로 크기를 100%로 변경 */
/* scroll-snap-type: x mandatory; 추가: 스크롤 스냅 기능 활성화 */
/* } */
